{%extends 'base.html'%}
{%block conteudo%}
{%load static%}


<div class="form-autorizacao-container">
    <form method="POST" action="" target=_blank>
        {% csrf_token %}
        <fieldset class='field-autorizacao'>
            <h2>Dados do Beneficiário</h2> 
            <div class="input-container">
                {{sol_form.carteirinha_beneficiario.label_tag}}
                {{sol_form.carteirinha_beneficiario}}
            </div>
        </fieldset>
        
        <fieldset class='field-autorizacao'>
            <div class='form-row'>
                <h2> Dados do Profissional Solicitante </h2>
                <div class="input-container">
                {{sol_form.nome_profissional.label_tag}}
                {{sol_form.nome_profissional}}
                </div>
                
                <div class="input-container">
                {{sol_form.conselho.label_tag}}
                {{sol_form.conselho}}
                </div>
                
                
                <div class="input-container">
                {{sol_form.codigo_conselho.label_tag}}
                {{sol_form.codigo_conselho}}
                </div>
                
                <div class="input-container">               
                {{sol_form.UF_Conselho.label_tag}}
                {{sol_form.UF_Conselho}}
                </div>
                
                <div class="input-container">
                {{sol_form.cbos.label_tag}}
                {{sol_form.cbos}}
                </div>
            </div>
            
            
            
        </fieldset>
        
        <fieldset class='field-autorizacao'>
            <h2> Dados do Executante </h2>
            <div class="input-container">
            {{sol_form.codigo_operadora.label_tag}}
            {{sol_form.codigo_operadora }}
            </div>
        </fieldset>

         <fieldset class='field-autorizacao'>
            <h2>Procedimentos</h2>

    {{ formset.management_form }}

    <div id="procedimentos-container">
        {% for form in formset %}
            <div class="procedimento-form form-row align-items-end mb-2">
                <div class="col">
                    {{ form.codigo_procedimento.label_tag }}
                    {{ form.codigo_procedimento }}
                    {{ form.codigo_procedimento.errors }}
                </div>
                <div class="col">
                    {{ form.quantidade_procedimento.label_tag }}
                    {{ form.quantidade_procedimento }}
                    {{ form.quantidade_procedimento.errors }}
                </div>
            </div>
        {% endfor %}
        
    </div>

    <div id="empty-form" style="display: none;">
        <div class="procedimento-form form-row align-items-end mb-2">
            <div class="col">
                {{ formset.empty_form.codigo_procedimento.label_tag }}
                {{ formset.empty_form.codigo_procedimento }}
            </div>
            <div class="col">
                {{ formset.empty_form.quantidade_procedimento.label_tag }}
                {{ formset.empty_form.quantidade_procedimento }}
            </div>
        </div>
    </div>

    <button type="button" id="add-form-btn" class="btn btn-secondary mt-2">Adicionar Procedimento</button>
    {{sol_form.carater_solicitacao}}
    <hr>   
        </fieldset> 
        
        <button type="submit" >Executar Solicitação</button>
    </form>
</div>
{%endblock conteudo%}






